include buttons

mixin backHeader(contentName, backHref)
    div.row
        div.col-sm-12
            a(href="#{backHref}")
                +backButton
            span #{contentName}


mixin backListHeader(listName, backHref, newHref)
    div.row
        div.col-sm-12
            a(ng-href="#{backHref}")
                +backButton
            span #{listName}
            div.pull-right
                a(ng-href="#{newHref}")
                    +plusButton

mixin completedHeader(listName, href)
    div.row
        div.col-sm-12
            span #{listName}
            div.pull-right
                a(ng-href="#{href}")
                    +checkButton

mixin backCompletedHeader(listName, backHref, completedHref, ngClick)
    div.row
        div.col-sm-12
            a(ng-href=backHref)
                +backButton
            span #{listName}
            div.pull-right
                if ngClick
                    div.cursor-pointer(ng-click=ngClick)
                        +checkButton
                else
                    a(ng-href=completedHref)
                        +checkButton

mixin leftListRightCompleted(listName, contentName, backHref, newHref, completedHref, ngClick)
    div.landscape-or-portrait
        div.landscape-or-portrait__landscape
            div.landscape-responsive
                div.landscape-responsive__nav
                    +backListHeader(listName, backHref, newHref)
                div.landscape-responsive__content
                    span #{contentName}
                    div.pull-right
                        //- I don't like using this if, but I feel extracting this into a template
                        //- for one line isn't worth it yet. If we need to do another if ngClick,
                        //- then we should extract.
                        if ngClick
                            div.cursor-pointer(ng-click=ngClick)
                                +checkButton
                        else
                            a(ng-href=completedHref)
                                +checkButton

        div.landscape-or-portrait__portrait
            +backCompletedHeader(contentName, backHref, completedHref, ngClick)

mixin leftListRightBack(listName, contentName, backHref, newHref)
    div.landscape-or-portrait
        div.landscape-or-portrait__landscape
            div.landscape-responsive
                div.landscape-responsive__nav
                    +backListHeader(listName, backHref, newHref)
                div.landscape-responsive__content
                    span #{contentName}

        div.landscape-or-portrait__portrait
            +backHeader(contentName, backHref)
