include buttons

mixin backHeader(contentName)
    div.row
        div.col-sm-12
            span
                +backButton
            span #{contentName}


mixin listHeader(listName)
    div.row
        div.col-sm-12
            span
                +backButton
            span #{listName}
            div.pull-right
                +plusButton

mixin completedHeader(listName, href)
    div.row
        div.col-sm-12
            span #{listName}
            div.pull-right
                a(href="#{href}")
                    +checkButton

mixin backCompletedHeader(listName, href)
    div.row
        div.col-sm-12
            span
                +backButton
            span #{listName}
            div.pull-right
                a(href="#{href}")
                    +checkButton

mixin leftListRightCompleted(listName, contentName)
    div.landscape-or-portrait
        div.landscape-or-portrait__landscape
            div.landscape-responsive
                div.landscape-responsive__nav
                    +listHeader(listName)
                div.landscape-responsive__content
                    span #{contentName}
                    div.pull-right
                        +checkButton

        div.landscape-or-portrait__portrait
            +backCompletedHeader(contentName)

mixin leftListRightBack(listName, contentName)
    div.landscape-or-portrait
        div.landscape-or-portrait__landscape
            div.landscape-responsive
                div.landscape-responsive__nav
                    +listHeader(listName)
                div.landscape-responsive__content
                    span #{contentName}

        div.landscape-or-portrait__portrait
            +backHeader(contentName)
