mixin listItem(name, itemHref)
    div.list-item
        a(href="#{itemHref}") #{name}

mixin editableListItem(name, itemHref, editHref)
    div.list-item
        a(href="#{itemHref}") #{name}
        div.pull-right
            a(href="#{editHref}")
                +cogButton
