extends ../layout

include ../components/buttons
include ../components/headers

block content
    div.between-header-footer
        div.container-fluid
            div.row.header-padding
                div.col-sm-12
                    form(name="model.profile")
                        div.form-group
                            label.control-label(for="profile-username") Username
                            input.form-control(type="text" ng-model="model.user.username"
                            id="profile-username")
                        div.form-group(ng-class="{'has-error': model.profile.email.$error.email}")
                            label.control-label(for="profile-email") Email
                            input.form-control(type="email" ng-model="model.user.email"
                            name="email" id="profile-email")
                        div.form-group
                            label.control-label(for="profile-first-name") Fist Name
                            input.form-control(type="text" ng-model="model.user.firstName"
                            id="profile-first-name")
                        div.form-group
                            label.control-label(for="profile-first-last") Last Name
                            input.form-control(type="text" ng-model="model.user.lastName"
                            id="profile-first-last")
                        a.btn.btn-primary.btn-block(
                        ng-href="#/user/{{model.userId}}/website/") Websites
                        a.btn.btn-danger.btn-block(href="#/login") Logout
//- Using website-header and footer styling until it's more clear what I need to do.
//- i.e. should I rename it to blue-head and blue-footer or should profile get its own styling.
block header
    div.navbar.navbar-fixed-top.header-nav.header-nav--website-header
        div.container-fluid.header-nav__content
            +completedHeader('Profile', '#/user/{{model.userId}}', 'model.update(model.user)')

block footer
    div.navbar.navbar-fixed-bottom.footer-nav.footer-nav--website-footer
        div.container-fluid.footer-nav__content
            div.row
                div.col-sm-12.text-right
                    a(ng-href='#/user/{{model.userId}}')
                        +userButton

