//
   Created by brian on 10/12/16.
doctype html
html
  head
    meta(name="viewport" content="width=device-width, initial-scale=1")
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')
    link(rel='stylesheet',
      href='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css')
    link(rel='stylesheet',
      href='https://maxcdn.bootstrapcdn.com/font-awesome/4.6.3/css/font-awesome.min.css')
    link(rel='stylesheet' href="http://textangular.com/dist/textAngular.css")
    script(src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"
      type='javascript')
  body(ng-app="WebAppMaker")
    div(ng-view)
        p Loading...
    script(src="https://code.jquery.com/jquery-3.1.1.js"
    integrity="sha256-16cdPddA6VdVInumRGo6IbivbERE8p7CQR3HzTBuELA="
    crossorigin="anonymous")
    script(src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"
    integrity="sha256-T0Vest3yCU7pafRw9r+settMBX6JkKN06dqBnpQ8d30="
    crossorigin="anonymous")
    script(src='https://cdnjs.cloudflare.com/ajax/libs/lodash.js/4.16.4/lodash.js')
    script(src='https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.4.0/angular.js')
    script(src='https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.4.0/angular-route.js')
    script(src='http://textangular.com/dist/textAngular-rangy.min.js')
    script(src='http://textangular.com/dist/textAngular-sanitize.min.js')
    script(src='http://textangular.com/dist/textAngular.min.js')
    //script(src='/js/textAngular.js')
    //script(src='/js/textAngular-rangy.min.js')
    //script(src='/js/textAngular-sanitize.js')
    script(src='/assignment/app.js')
    script(src='/assignment/config.js')
    script(src='/assignment/directives/my-enter.js')
    script(src='/assignment/directives/jga-directives.js')
    script(src='/assignment/services/page.service.client.js')
    script(src='/assignment/services/user.service.client.js')
    script(src='/assignment/services/website.service.client.js')
    script(src='/assignment/services/widget.service.client.js')
    script(src='/assignment/views/user/user.controller.client.js')
    script(src='/assignment/views/website/website.controller.client.js')
    script(src='/assignment/views/page/page.controller.client.js')
    script(src='/assignment/views/widget/widget.controller.client.js')
